<div>
  <%= link_to Bill.human_attribute_name(:bills), bills_path  %>
  <%= link_to Client.human_attribute_name(:clients), clients_path  %>
  <%= link_to Product.human_attribute_name(:products), products_path  %>
  <%= link_to Monthly.human_attribute_name(:monthlies), monthlies_path  %>
  <%= flash[:notice] %>
</div>