<h1><%= t('monthly.months') %></h1>

<table>
  <tr>
    <th><%= t('monthly.month') %></th>
    <th><%= t('monthly.year') %></th>
    <th><%= t('monthly.sold') %></th>
    <th><%= t('monthly.bought') %></th>
    <th><%= t('monthly.to_pay') %></th>
    <th><%= t('monthly.paid') %></th>
  </tr>

<%= render @monthlies %>
</table>

<br />

