<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @box.day %>
</p>

<p>
  <b>Month:</b>
  <%= @box.month %>
</p>

<p>
  <b>Year:</b>
  <%= @box.year %>
</p>

<p>
  <b>Count:</b>
  <%= @box.count %>
</p>

<p>
  <b>Total:</b>
  <%= @box.total %>
</p>


<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
