<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<b>
  <div class="field">
    <%= f.label :name %>: 
    <%= f.text_field :name, autofocus: true, size: 15 %>
    <%= f.label :last_name %>:
    <%= f.text_field :last_name, size: 15 %>
  </div>
    <div class="field">
    <%= f.label :document %>:
    <%= f.text_field :document, placeholder: 'In numbers', size: 8 %>
    <%= f.label :email %>:
    <%= f.email_field :email, placeholder: 'example@mail.com', size: 20 %>
  </div>
  <div class="field">
    <%= f.label :adress %>:
    <%= f.text_field :adress, placeholder: 'Evergreen 999', size: 20 %>
    <%= f.label :location %>:
    <%= f.text_field :location, placeholder: 'Where live', size: 20  %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: 'Only Numbers', size: 8 %>
    <%= f.label :cellphone %>
    <%= f.text_field :cellphone, placeholder: '055-5555555', size: 8 %>
  </div>
  <div class="field">
    <%#= f.label :client_kind %>
    <%#= f.select :client_kind, select_client_kind %>
 
    <%#= f.label :bill_kind %>
    <%#= f.select :bill_kind, bill_for_select %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    $<%= f.text_field :amount, placeholder: '0.00', id: 'amount', size: 8 %>
   <%= f.label :to_amount, t('others.to_amount') if params[:action] == 'edit' %>
   <%= f.text_field :to_amount, size: 3, id: 'to_amount' if params[:action] == 'edit' %>
  
    <%#= f.label :spend %>
    <%#= f.text_field :spend, placeholder: '0.00', size: 8 %>
  </div><br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br /><br />
</b>