<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= raw 'Fueron encontrados ' +  @client.errors.count.to_s + 
              ' errores :' if @client.errors.count > 1%>
            <%= raw 'Fue encontrado 1 error :' if @client.errors.count == 1%>
      </h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<b>
  <div class="field">
    <%= f.label :name %>: 
    <%= f.text_field :name, autofocus: true, size: 15 %>
    <%= f.label :last_name %>:
    <%= f.text_field :last_name, size: 15 %>
  </div>
    <div class="field">
    <%= f.label :document %>:
    <%= f.text_field :document, placeholder: 'In numbers', size: 8 %>
    <%= f.label :email %>:
    <%= f.email_field :email, placeholder: 'example@mail.com', size: 20 %>
  </div>
  <div class="field">
    <%= f.label :address %>:
    <%= f.text_field :address, placeholder: 'Evergreen 999', size: 20 %>
    <%= f.label :location %>:
    <%= f.text_field :location, placeholder: 'Where live', size: 20  %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: 'Only Numbers', size: 10 %>
    <%= f.label :cellphone %>
    <%= f.text_field :cellphone, placeholder: '055-5555555', size: 10 %>
  </div>
  <div class="field">
    <%= f.label :client_kind %>
    <%= f.select(
      :client_kind, client_kind_for_client, selected: @client.client_kind || 'F'
    ) %>
 
    <%= f.label :bill_kind %>
    <%= f.select :bill_kind, bill_kind_for_client, selected: @client.bill_kind || 'B' %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    $<%= f.text_field :amount, placeholder: '0.00', id: 'amount', size: 8 %>
   <%= f.label :to_amount, t('others.to_amount') if params[:action] == 'edit' %>
   <%= f.text_field :to_amount, size: 3, id: 'to_amount' if params[:action] == 'edit' %>
  </div>
  <div class='field'>
    <%= f.label :uic_type %>
    <%= f.select :uic_type, uic_type_for_client, include_blank: true %>
    <%= f.label :uic %>
    <%= f.text_field :uic %>
  </div>
  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br /><br />
</b>
