<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :document %><br />
    <%= f.text_field :document %>
  </div>
  <div class="field">
    <%= f.label :adress %><br />
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :cellphone %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :client_kind %><br />
    <%= f.text_field :client_kind %>
  </div>
  <div class="field">
    <%= f.label :bill_kind %><br />
    <%= f.text_field :bill_kind %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    $<%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :spend %><br />
    $<%= f.number_field :spend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
