<h1><%= t('client.clients') %> </h1>

<table>
  <tr>
    <th><%= t('client.name') %> </th>
    <th><%= t('client.last_name') %></th>
    <th><%= t('client.document') %></th>
    <th><%= t('client.amount') %></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.last_name %></td>
    <td><%= link_to client.document, client %></td>
    <td>$<%= client.amount %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('client.new'), new_client_path %>
