
<p>
  <b><%= Client.human_attribute_name(:name) %> </b>
  <%= @client.name %>
</p>

<p>
  <b><%= Client.human_attribute_name(:last_name) %> </b>
  <%= @client.last_name %>
</p>

<p>
  <b><%= Client.human_attribute_name(:document) %> </b>
  <%= @client.document %>
</p>

<p>
  
  <%= raw ("<b>" + Client.human_attribute_name(:adress) + "</b> " + @client.adress) if @client.adress.present? %>
</p>

<p>
  <%= raw '<b>' + Client.human_attribute_name(:email) + '</b>' + @client.email if @client.email.present? %>
</p>

<p>
  
  <%= raw ("<b>" + Client.human_attribute_name(:location) + "</b>" + @client.location) if @client.location.present?%>
</p>

<p>
  
  <%= raw ("<b>" + Client.human_attribute_name(:phone) + "</b>" + @client.phone.to_s) if @client.phone.present? %>
</p>

<p>
  
  <%= raw ("<b>" + Client.human_attribute_name(:cellphone) + "</b>" + @client.cellphone.to_s) if @client.cellphone.present? %>
</p>



<p>
  <b><%= Client.human_attribute_name(:amount) %> </b>
  <%= number_to_currency(@client.amount) %>
</p>
<%= render 'client_orders' if @client.orders.count > 0 %>

<%= link_to t('label.edit'), edit_client_path(@client) %> |
<%= link_to t('label.destroy'), @client, :confirm => t('label.sure'), :method => :delete %> |
<%= link_to t('label.back'), clients_path %>
