<h1><%= Bill.human_attribute_name(:bills)  %> </h1>

<table>
  <tr>
    <th><%= Bill.human_attribute_name(:barcode) %></th>
    <th><%= Bill.human_attribute_name(:date) %></th>
    <th><%= Bill.human_attribute_name(:client) %></th>
    <th><%= Bill.human_attribute_name(:bill) %></th>
    <th><%= Bill.human_attribute_name(:items) %></th>
    <th><%= Bill.human_attribute_name(:amount) %></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= link_to bill.barcode, bill %></td>
    <td><%= l bill.created_at %></td>
    <td><%= bill.client ? bill.client : '--' %></td>
    <td><%= bill.bill_kind %></td>
    <td>CANT ITEMs</td>
    <td>$<%= bill.amount %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('new.bill'), new_bill_path %> <br />
<%= will_paginate @bills %>
