<h1><%= Bill.human_attribute_name(:bills)  %> </h1>

<table>
  <tr>
    <th><%= Bill.human_attribute_name(:barcode) %></th>
    <th><%= Bill.human_attribute_name(:created_at) %></th>
    <th><%= Bill.human_attribute_name(:client) %></th>
    <th><%= Bill.human_attribute_name(:bill) %></th>
    <th><%= Bill.human_attribute_name(:items) %></th>
    <th><%= Bill.human_attribute_name(:amount) %></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= link_to bill.barcode, bill %></td>
    <td><%= l bill.created_at %></td>
    <td><%= bill.client ? bill.client : '--' %></td>
    <td><%= bill.bill_kind %></td>
    <td><%= bill.prod_count %></td>
    <td><%= number_to_currency bill.amount %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @bills %>
