<h1><%= t('bill.bills')  %> </h1>

<table>
  <tr>
    <th><%= t('bill.barcode') %></th>
    <th><%= t('bill.date') %></th>
    <th><%= t('bill.client') %></th>
    <th><%= t('bill.bill') %></th>
    <th><%= t('bill.items') %></th>
    <th><%= t('bill.amount') %></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= link_to bill.barcode, bill %></td>
    <td><%= l bill.date %></td>
    <td><%= bill.client_id %></td>
    <td><%= bill.bill_kind %></td>
    <td>CANT ITEMs</td>
    <td>$<%= bill.amount %></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to t('another.bill'), new_bill_path %>
