<p>
  <b><%= Bill.human_attribute_name 'barcode' %> :</b>
  <%= @bill.barcode %>
</p>

<p>
  <b><%= Bill.human_attribute_name 'created_at' %> :</b>
  <%= l @bill.created_at, format: :short %>
</p>
<p>
  <b><%= Bill.human_attribute_name 'client' %> :</b>
  <%= @bill.client %>
</p>
<p>
  <b><%= Bill.human_attribute_name 'bill_kind' %> :</b>
  <%= @bill.bill_kind %>
</p>
<p>
  <b><%= Bill.human_attribute_name 'items' %> :</b>
  <%= simple_format @bill.items %>
</p>
<p>
  <b><%= Bill.human_attribute_name 'amount' %> :</b><br />
  <b>Total:</b> <%= number_to_currency @bill.amount %><br />
  <b>Descuento:</b> <%= @bill.discount.to_s + '%' %> => <%= number_to_currency(@bill.amount * (@bill.discount/100)) %><br />
  <b>A pagar por el cliente: </b><%= number_to_currency(@bill.amount * (1 - @bill.discount/100)) %>
</p>

<%= link_to t('label.back'), bills_path %>

<%= link_to 'Re-Imprimir', print_bill_path(@bill) %>
