

<p>
  <b><%= t('bill.barcode') %> :</b>
  <%= @bill.barcode %>
</p>

<p>
  <b><%= t('bill.date') %> :</b>
  <%= l @bill.date %>
</p>
<p>
  <b><%= t('bill.client') %> :</b>
  <%= @bill.client_id %>
</p>
<p>
  <b><%= t('bill.bill_kind') %> :</b>
  <%= @bill.bill_kind %>
</p>
<p>
  <b><%= t('bill.items') %> :</b>
  <%= @bill.items %>
</p>
<p>
  <b><%= t('bill.amount') %> :</b>
  $<%= @bill.amount %>
</p>

<%= link_to t('label.destroy'), @bill, :confirm => t('label.sure'), :method => :delete %> |
<%= link_to t('label.back'), bills_path %>
