<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="order_form">
  <div class="field">
    <%= Client.human_attribute_name(:client) %>  |  <%= Bill.human_attribute_name(:bill_kind) %> | A la cuenta?
  </div>
  <div class="field">
    <%= f.text_field :auto_client, value: @order.try(:client_id), id: 'order_auto_client' %>  <%= f.text_field :bill_kind, size: 1 %>
      | <%= f.check_box :to_debt %>
  </div>
  Items:
  <div>    
     <table>
        <tr>
          <th><%= Product.human_attribute_name(:name)%></th>
          <th><%= Product.human_attribute_name(:mark)%></th>
          <th><%= Product.human_attribute_name(:fragance)%></th>
          <th><%= Product.human_attribute_name(:count)%></th>
          <th><%= Product.human_attribute_name(:uni)%></th>
          <th><%= Product.human_attribute_name(:price)%></th>
          <th><%= Cart.human_attribute_name(:quantity) %></th>
        </tr>

      <%= f.fields_for :line_items do |li_f| %>
        <tr>
          <td><h3><%= li_f.object.product.name %></h3></td>
          <td><%= li_f.object.product.mark %></td>
          <td><%= li_f.object.product.fragance %></td>
          <td><%= li_f.object.product.count %></td>
          <td><%= li_f.object.product.uni %></td>
          <td><%= number_to_currency(li_f.object.product.price) %></td>
          <td><%= li_f.number_field :quantity, size: 1 %></td> 
          <%= li_f.hidden_field :product_id %>
          <%= li_f.hidden_field :id %>
          
          </tr>
      <% end %>
  </table>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
