<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%#<div class="order_form">%>
  <div class="field">
    <%= Client.human_attribute_name(:client) %>  <%= f.text_field :auto_client, value: @order.try(:client_id), id: 'order_auto_client' %>
  </div>
  <div class="field">
       <%# = Bill.human_attribute_name(:bill_kind) %>  <%#= f.text_field :bill_kind, size: 1 %>
      
  </div>
  <div class="field">
     A la cuenta?? <%= f.check_box :to_amount %>
  </div>
  Items:
  <div>    
     <table>
        <tr>
          <th><%= Product.human_attribute_name(:name)%></th>
          <th><%= Product.human_attribute_name(:mark)%></th>
          <th><%= Product.human_attribute_name(:fragance)%></th>
          <th><%= Product.human_attribute_name(:category)%></th>
          <th><%= Product.human_attribute_name(:count)%></th>
          <th><%= Product.human_attribute_name(:price)%></th>
          <th><%= Cart.human_attribute_name(:quantity) %></th>
        </tr>

      <%= f.fields_for :line_items, id: 'order_form' do |li_f| %>
        <tr>
          <td><h3><%= li_f.object.product.name %></h3></td>
          <td><%= li_f.object.product.mark %></td>
          <td><%= li_f.object.product.fragance %></td>
          <td><%= li_f.object.product.category %></td>
          <td><%= li_f.object.product.count %><%= li_f.object.product.uni %></td>
          <%#= number_to_currency(li_f.object.product.price) %>
          <td>$<%= li_f.text_field :price, value: li_f.object.product.price, disabled: true, size: 3 %></td>
          <td><%= li_f.text_field :quantity, size: 1, class: 'order_quantity' %></td> 
          <%= li_f.hidden_field :product_id %>
          <%= li_f.hidden_field :id %>
          
          </tr>
        <% end %>
          
  </table>
    <% @cart ||= current_cart %>
    
    Total: <span id="order_total_price"> <%= number_to_currency(@cart.total_price) %> </span>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<%#</div> %>
<% end %>
