<h1> <%= t('titles.order') %></h1>

<table>
  <tr>
    <th><%= Client.human_attribute_name(:client) %></th>
    <th><%= Client.human_attribute_name(:bill_kind) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to (order.client ? order.client.name.split.first + ' ' + order.client.last_name.split.first : 
 t('others.without_client')), order%></td>
    <td><%= order.bill_kind %></td>
    <td><%= link_to t('label.show'), order %></td>
    <td><%= link_to t('label.edit'), edit_order_path(order) %></td>
    <td><%= link_to t('label.destroy'), order, confirm: t('label.sure'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @orders %>


