<h1> <%= t('titles.order') %></h1>

<table>
  <tr>
    <th><%= Client.human_attribute_name(:client) %></th>
    <th>Día</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to (order.client ? order.client.name.split.first + ' ' + order.client.last_name.split.first : 
 t('others.without_client')), order%></td>
  <td> <%= l order.created_at, format: :little %> </td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @orders %>


