<p id="notice"><%= notice %></p>

<p><% if @order.client %>
  <b><%= Client.human_attribute_name(:client) %>:</b> <%= link_to (@order.client.name.split.first + ' ' + @order.client.last_name.split.first), client_path(@order.client) %> <%# ARREGLAR  %>
</p>
<% end %>
<p>
  <%= Bill.human_attribute_name(:bill_kind) %>: <%= @order.bill_kind %>
</p>
<table>
  <tr>
  <th><%= Product.human_attribute_name(:name) %> </th>
  <th><%= Product.human_attribute_name(:mark) %> </th>
  <th><%= Product.human_attribute_name(:price) %> </th>
  <th><%= Cart.human_attribute_name(:quantity) %> </th>
  </tr>
<% @order.line_items.each do |li| %>
  <tr>
  <td><%= li.product.name %></td>
  <td><%= li.product.mark %></td>
  <td><%= number_to_currency(li.product.price) %></td>
  <td> x <%= li.quantity %></td>
  <% end %>
  </tr>
  <tr><td colspan="4">Total: <%= number_to_currency(@order.price) %></td></tr>
  
</table>
<%= @order.created_at.year %>
<%= link_to t('label.edit'), edit_order_path(@order) %> |
<%= link_to t('label.back'), orders_path %>
