<% if controller_name == 'orders' %>
<div class="order_cart">
  <table>
  
<tr>
  <th><%= Product.human_attribute_name(:name)%></th>
  <th><%= Product.human_attribute_name(:mark)%></th>
  <th><%= Product.human_attribute_name(:fragance)%></th>
  <th><%= Product.human_attribute_name(:count)%></th>
  <th><%= Product.human_attribute_name(:uni)%></th>
  <th><%= Product.human_attribute_name(:price)%></th>
  <th> <%= t 'cart.count' %> </th>
</tr>

<% @cart.line_items.each do |item|  %>

<tr>
  <td><h3><%= item.product.name %></h3></td>
  <td><%= item.product.mark %></td>
  <td><%= item.product.fragance %></td>
  <td><%= item.product.count %></td>
  <td><%= item.product.uni %></td>
  <td><%= number_to_currency(item.product.price) %></td>
  <td><%= item.quantity %></td> 
  </tr>
  <% end %>

<tr> <td>Total Price:</td><td colspan="6"><%= number_to_currency(@cart.total_price) %></td></tr>
</table>
  
</div>

<% else %>
<div class="cart">
  <h1>Cart</h1>
  <table>
  
<tr>
  <th><%= Product.human_attribute_name(:name) %></th> 
  <th><%= Product.human_attribute_name(:price) %></th>
</tr>

<% @cart.line_items.each do |item|  %>

<tr>
  <td><%= item.product.name %></td>
  <td><%= number_to_currency(item.total_price)  %></td>
  <% end %>
</tr>

<tr> <td>Total Price:</td><td><%= number_to_currency(@cart.total_price) %></td></tr>
</table>
<%= button_to t('cart.buy'), new_order_path, method: :get %>
<%= button_to t('cart.emply'), @cart, method: :delete, confirm: 'Sure?' %>
</div>
<% end %>

<%#= will_paginate @cart.line_items %>