<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @payment.user_id %>
</p>

<p>
  <b>Deposit:</b>
  <%= @payment.deposit %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
