<p id="notice"><%= notice %></p>

<p>
  <b><%= t('monthly.month') %></b>
  <%= @monthly.month %>
</p>

<p>
  <b><%= t('monthly.year') %></b>
  <%= @monthly.year %>
</p>

<p>
  <b><%= t('monthly.sold') %></b>
  $<%= @monthly.sold %>
</p>

<p>
  <b><%= t('monthly.bought') %></b>
 $<%= @monthly.bought %>
</p>

<p>
  <b><%= t('monthly.to_pay') %></b>
  $<%= @monthly.to_pay %>
</p>

<p>
  <b><%= t('monthly.paid') %></b>
  <%= @monthly.paid %>
</p>


<%= link_to t('label.back'), monthlies_path %>
