<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :barcode %> <%= @product.barcode %>
    <%= f.hidden_field :barcode%>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mark %><br />
    <%= f.text_field :mark %>
  </div>
  <div class="field">
    <%= f.label :fragance %><br />
    <%= f.text_field :fragance %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    $<%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </div>
  <div class="field">
    <%= f.label :uni %><br />
    <%= f.select :uni, prod_uni %>
  </div>
  <div class="actions">
    <%= f.submit t('product.save') %>
  </div>
<% end %>
