<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :barcode %> 
    <%= f.text_field :barcode if params[:action] == 'new'%>
    <%= f.text_field :barcode, disabled: true if params[:action] == 'edit' %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mark %><br />
    <%= f.text_field :mark %>
  </div>
  <div class="field">
    <%= f.label :fragance %><br />
    <%= f.text_field :fragance %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, category_select, include_blank: true %>
  </div>
  <br />
  <div class="field">
    Precio <%= f.text_field :pricedist, id: "pricedist", size: 4 %>
    Iva <%= f.text_field :iva, id: "iva", size: 1, value: 21 %>
    Ganancia <%= f.text_field :earn, id: "earn", size: 1, value: 30 %>
    =>  $<%= f.text_field :price, id: "price", size: 4 %>
    <br />
  </div><br />
  <div class="field">
    <%= f.label :count %>
    <%= f.text_field :count, size: 3 %>
    <%= f.select :uni, prod_uni %>
  </div><br />
<div class="field">
  <%= f.label :stock %>
  <%= f.text_field :stock, id: 'stock', size: 3 %>
  <% if params[:action] == 'edit' %>
  <%= t('new.stock') %>
  <%= f.text_field :newstock, id: 'newstock', size: 3 %>
  <% end %>
</div>
  <div class="actions">
    <%= f.submit t('product.save') %>
  </div>
<% end %>
