<h1><%= Product.human_attribute_name(:products) %></h1>

<p> 
  <%= form_tag products_path, method: :get do |f_p|%>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar" %>
  <% end %>
</p>

<table>
  <tr>
    <th><%= Product.human_attribute_name(:name) %></th>
    <th><%= Product.human_attribute_name(:mark) %></th>
    <th><%= Product.human_attribute_name(:fragance) %></th>
    <th><%= Product.human_attribute_name(:category) %></th>
    <th><%= Product.human_attribute_name(:price) %></th>
    <th><%= Product.human_attribute_name(:count) %></th>
    <th><%= Product.human_attribute_name(:stock) %></th>
  </tr>

  <%= render @products %>
</table>

<br />

<%= link_to t('new.product'), new_product_path %> <br />

<%= will_paginate @products %>