<p id="notice"><%= notice %></p>

<p>
  <b><%= t('product.barcode') %> </b>
  <%= @product.barcode %>
</p>

<p>
  <b><%= t('product.name') %></b>
  <%= @product.name %>
</p>

<p>
  <b><%= t('product.mark') %></b>
  <%= @product.mark %>
</p>

<p>
  <b><%= t('product.fragance') %></b>
  <%= @product.fragance %>
</p>

<p>
  <b><%= t('product.price') %></b>
  $<%= @product.price %>
</p>

<p>
  <b><%= t('product.count') %></b>
  <%= @product.count %>
</p>

<p>
  <b><%= t('product.uni') %></b>
  <%= @product.uni %>
</p>


<%= link_to t('label.edit'), edit_product_path(@product) %> |
<%= link_to t('label.destroy'), @product, :confirm => t('label.sure'), :method => :delete  %> |
<%= link_to t('label.back'), products_path %>
