

<p>
  <b><%= Product.human_attribute_name(:barcode) %> </b>
  <%= @product.barcode %>
</p>

<p>
  <b><%= Product.human_attribute_name(:name) %></b>
  <%= @product.name %>
</p>

<p>
  <b><%= Product.human_attribute_name(:mark) %></b>
  <%= @product.mark %>
</p>

<p>
  <b><%= Product.human_attribute_name(:fragance) %></b>
  <%= @product.fragance %>
</p>
<p>
  <b><%= Product.human_attribute_name(:category) %></b>
  <%= @product.category %>
</p>

<p>
  <b><%= Product.human_attribute_name(:price) %></b>
  $<%= @product.price %>
</p>

<p>
  <b><%= Product.human_attribute_name(:count) %></b>
  <%= @product.count %>
  <%= @product.uni %>
</p>
<p>
  <b>Stock</b>
  <%= @product.stock %>
</p>


<%= link_to t('label.edit'), edit_product_path(@product) %> |
<%= link_to t('label.destroy'), @product, :confirm => t('label.sure'), :method => :delete  %> |
<%= link_to t('label.back'), products_path %>
