<div class="order">
  <h1>Order</h1>
  <table>
    
    <%#   *ARCHIVO AL PEDO!   %>
  
<tr>
  <th><%= LineItems.human_attribute_name(:quantity) %></th> 
  <th><%= Product.human_attribute_name(:name) %></th> 
  <th><%= Product.human_attribute_name(:price) %></th>
</tr>

<% @cart.line_items.each do |item|  %>

<tr>
<td><%= item.quantity %> &times</td>
<td><%= item.product.name %></td>
<td><%= number_to_currency(item.total_price)  %></td>

<% end %>
</tr>

<tr> 
  <td>Total Price:</td> <td><%= number_to_currency(@cart.total_price) %></td>
  <td><%= button_to t'cart.emply', @cart, method: :delete, confirm: 'Sure?' %></td>
</tr>
</table>

</div>