<h1><%= t 'titles.store'%></h1>

<%= form_tag store_path, method: :get do |f_p|%>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar" %>
  <% end %>


<table>

<tr>
<th><%= Product.human_attribute_name(:name)%></th>
<th><%= Product.human_attribute_name(:mark)%></th>
<th><%= Product.human_attribute_name(:fragance)%></th>
<th><%= Product.human_attribute_name(:count)%></th>
<th><%= Product.human_attribute_name(:uni)%></th>
<th><%= Product.human_attribute_name(:price)%></th>
</tr>
  
<%= render ('store/product') %>

</table>