<h1><%= t 'store.store'%></h1>

<table>

<tr>
<th><%= Product.human_attribute_name(:name)%></th>
<th><%= Product.human_attribute_name(:mark)%></th>
<th><%= Product.human_attribute_name(:fragance)%></th>
<th><%= Product.human_attribute_name(:count)%></th>
<th><%= Product.human_attribute_name(:uni)%></th>
<th><%= Product.human_attribute_name(:price)%></th>
</tr>
  
<%= render ('store/products') %>
    
</table>