<!DOCTYPE html>
<html>
<head>
  <title>Merchants</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="top_menu"><%= render 'menus/menu' %></div>
 
<%= yield %> 
  

</body>
<% if notice %>
<div class="notifier">
  <%#= link_to_function notice,"jQuery(.notifier).slideUp()" %>
</div>

<% end %>
</html>
